<h1 align="center">Please log in</h1>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, :html => {class: "form-horizontal"}, url: login_path) do |f| %>
                    <div class="form-group">
                        <%= f.label :email, class: "col-sm-2 control-label" %>
                        <div class="col-sm-10">
                            <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
                        </div>
                    </div>
                    <div class="form-group">
                        <%= f.label :password, class: "col-sm-2 control-label" %>
                        <div class="col-sm-10">
                            <%= f.password_field :password, class: "form-control", placeholder: "Enter password", autocomplete: "off" %>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <%= f.submit "Log in", class: "btn btn-primary" %>
                        </div>
                    </div>
        <% end %>
    </div>
</div>