<div class="container">
<h2 align="center">All Articles</h2>
      <%= render "show_articles", obj: @articles %>
</div>


<!--  <table class="table">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        <% @articles.each do |article| %>
            <tr>
                <td><%= article.title %></td>
                <td><%= truncate(article.description, length: 100) %></td>
                <td>
                    <div class="btn-group"><%= link_to 'Show', article_path(article), class: "btn btn-xs btn-success" %> 
                                        <%=link_to 'Edit', edit_article_path(article), class: "btn btn-xs btn-primary" %>
                                        <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure ?"}, 
                                        class: "btn btn-xs btn-danger" %>
                    </div>
                </td>
            </tr>
        <% end %>
    </table> -->
