<div class="container">
    <h1 align="center">Welcome to <%= @user.username %>'s page</h1>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <p>
            <%= gravatar_for @user, size: 150 %>
          </p>
        </div>
    </div>
    <div align="center" class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
            <%= link_to 'Delete User', user_path(@user),
            method: :delete, data: {confirm: "Are you sure you want to delete #{@user.username} and all of #{@user.username}'s articles? (#{@user.articles.count})"},
            class: "btn btn-danger btn-xs" if logged_in? && current_user.admin? &&
            current_user != @user  %>
      </div>
    </div>
    <h4 align="center"><%= @user.username %>'s articles</h4>
</div>

<div align="center">
    <%= will_paginate @user_articles %>
</div>
<% if current_user == @user %>
    <div class="panel-body">
        <div class="row col-xs-10 col-xs-offset-1">
           <%= link_to 'Create new article', new_article_path, class: "btn btn-success" %>
        </div>
    </div>
<% end %>
<%= render "articles/show_articles", obj: @user_articles %>
<div align="center">
    <%= will_paginate @user_articles %>
</div>